* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.contenair_global {
  position: relative;

  /* border: 10px solid seagreen; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.3rem;
  width: 100%;
  position: fixed;
  background: #5e5e5e;
  color: antiquewhite;

  /* border: 5px solid #8400ff; */
}

.header_logo {
  width: 15%;

  /* border: 1px solid blue; */
}

.head_logo {
  height: 3rem;
  width: auto;
  border-radius: 5px;
}

.header_text {
  width: 70%;

  /* border: 1px solid blue; */
}

.header_date {
  width: 15%;

  /* border: 1px solid #0000ff; */
}

.logo_date_txt {
  display: flex;

  /* border: 2px solid #ffe600; */
}

.logo_date {
  height: 1rem;
  width: 1rem;
}

#date {
  font-size: 1.1rem;

  /* border: 1px solid white; */
}

.logo_heure_txt {
  display: flex;
  align-items: center;

  /* border: 1px solid black; */
}

.logo_heure {
  height: 1rem;
  width: 1rem;
}

#heure {
  font-size: 1rem;
  /* border: 1px solid white; */
}

.container {
  display: flex;
  padding-top: 3.2rem;
  padding-bottom: 3rem;

  /* border: 2px solid blue; */
}

.navbar {
  left: 0;
  height: 100%;
  width: 15%;
  text-align: center;
  position: fixed;
  padding: 20px;
  background: gray;
  color: antiquewhite;

  /* border: 2px solid yellowgreen; */
}

.main {
  margin-left: 19rem;
  padding: 20px;
  width: 70.1%;
  text-align: center;
  background: black;
  color: antiquewhite;

  /* border: 2px solid rgb(255, 0, 0); */
}

.main,
h1 {
  text-align: center;
}

.main,
p {
  text-align: justify;
}

.aside {
  position: fixed;
  right: 0;
  height: 100%;
  width: 15%;
  text-align: center;
  padding: 20px;
  background: gray;
  color: antiquewhite;

  /* border: 2px solid black; */
}

.footer {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5e5e5e;
  color: antiquewhite;
  bottom: 0;
  position: absolute;
  position: fixed;
}